@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #555;
	background-color: #ecf0f3;
}
form {
	display: flex;
	flex-direction:column;
	justify-content: center;
	margin-left: 25%;
	margin-right:25%;
	border: none;
	outline: none;
	background: none;
	font-size: 18px;
	color: #555;
	padding: 20px 10px 20px 5px;
	width: 800px;
	height: 300px;
	padding: 60px 35px 35px 35px;
	border-radius: 40px;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
	-13px -13px 20px #fff;
}
form:hover {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75); 
}
input {
	display: flex;
	
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 60px;
	border-radius: 30px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	color: black;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #fff;
	box-shadow: inset 8px 8px 8px #cbced1, inset 
	-8px -8px 8px #fff;
	font-size: 18px;
}
button {
	display: flex;
	
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 60px;
	border-radius: 30px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	color: #fff;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #4a8f83;
	box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
	font-size: 18px;
	
}

input:hover {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75); 
}
button:hover {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75); 
}