@charset "ISO-8859-1";
.ticket {
	
	
	width: 600px;
	height: 400px;
	margin-left:30%;
	margin-top:10%;
	
	justify-content: center;
	padding: 60px 35px 35px 35px;
	border-radius: 40px;
	background-color: #ecf0f3;
	box-shadow: 13px 13px 20px #cbced1,
	-13px -13px 20px #fff;
}
.row {
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 30px;
	margin-left: 5px;
	margin-right: 5px;
}
.ticket:hover {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75); 
}
.row:hover {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75); 
}
a:hover {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75); 
}
a {
	display: flex;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 60px;
	border-radius: 30px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	color: #fff;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #4a8f83;
	box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
	
}
h1 {
	display: flex;
	
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 60px;
	border-radius: 30px;
	font-weight: 700;
	font-family: "Lato", sans-serif;
	color: #fff;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: #4a8f83;
	box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
	font-size: 18px;
	
}
h1:hover {
	transform: scale(1.02);
	box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.75); 
}