<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>airlineServices</display-name>
	<servlet>
    	<servlet-name>register</servlet-name>
    	<servlet-class>com.flyAway.register</servlet-class>
  	</servlet>
	 <servlet-mapping>
	    <servlet-name>register</servlet-name>
	    <url-pattern>/register</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
    	<servlet-name>adminLogin</servlet-name>
    	<servlet-class>com.flyAway.adminLogin</servlet-class>
  	</servlet>
	 <servlet-mapping>
	    <servlet-name>adminLogin</servlet-name>
	    <url-pattern>/adminLogin</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>changePassword</servlet-name>
    	<servlet-class>com.flyAway.changePassword</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>changePassword</servlet-name>
	    <url-pattern>/changePassword</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>adminHome</servlet-name>
    	<servlet-class>com.flyAway.adminHome</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>adminHome</servlet-name>
	    <url-pattern>/adminHome</url-pattern>
  	</servlet-mapping>
  	 <servlet>
    	<servlet-name>airlineList</servlet-name>
    	<servlet-class>com.flyAway.airlineList</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>airlineList</servlet-name>
	    <url-pattern>/airlineList</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>flights</servlet-name>
    	<servlet-class>com.flyAway.flights</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>flights</servlet-name>
	    <url-pattern>/flights</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>search</servlet-name>
    	<servlet-class>com.flyAway.search</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>search</servlet-name>
	    <url-pattern>/search</url-pattern>
  	</servlet-mapping>  
  	<servlet>
    	<servlet-name>createtables</servlet-name>
    	<servlet-class>com.flyAway.createtables</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>createtables</servlet-name>
	    <url-pattern></url-pattern>
  	</servlet-mapping> 
  	<servlet>
    	<servlet-name>tickets</servlet-name>
    	<servlet-class>com.flyAway.tickets</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>tickets</servlet-name>
	    <url-pattern>/tickets</url-pattern>
  	</servlet-mapping>
  	<servlet>
    	<servlet-name>tcDispense</servlet-name>
    	<servlet-class>com.flyAway.tcDispense</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>tcDispense</servlet-name>
	    <url-pattern>/tcDispense</url-pattern>
  	</servlet-mapping> 
  	<servlet>
    	<servlet-name>Registerform</servlet-name>
    	<servlet-class>com.flyAway.Registerform</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>Registerform</servlet-name>
	    <url-pattern>/Registerform</url-pattern>
  	</servlet-mapping> 
  	<servlet>
    	<servlet-name>userLogin</servlet-name>
    	<servlet-class>com.flyAway.userLogin</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>userLogin</servlet-name>
	    <url-pattern>/userLogin</url-pattern>
  	</servlet-mapping>  	   	 	
  	<servlet>
    	<servlet-name>PaymentConfirm</servlet-name>
    	<servlet-class>com.flyAway.PaymentConfirm</servlet-class>
  	</servlet>
	<servlet-mapping>
	    <servlet-name>PaymentConfirm</servlet-name>
	    <url-pattern>/PaymentConfirm</url-pattern>
  	</servlet-mapping>  	   	 	  	
  	   		
</web-app>
</element>